<div class="content">
  <app-header></app-header>
  <div class="content-inside container" id="from">
    <div class="row">
      <div class="col-12">
        <h1 class="mb-4">Home</h1>
      </div>
      <div class="col-12" *ngIf="false">
        <button mat-raised-button (click)='toggleVisible()'>toggle visible</button>
        <button mat-raised-button (click)='toggleWeekends()'>toggle weekends</button>
        <button mat-raised-button (click)='gotoPast()'>go to a date in the past</button>
      </div>
      <div class="col-12" *ngIf="calendarVisible">
        <full-calendar *ngIf="calendarVisible" #calendar defaultView="dayGridMonth" [header]="{
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
        }" [plugins]="calendarPlugins" [weekends]="calendarWeekends" [events]="calendarEvents"
          (dateClick)="handleDateClick($event)" (eventClick)="prueba($event)"></full-calendar>


        <!-- [showNonCurrentDates]="false" [validRange]=" {
            start: '2020-06-01',
            end: '2020-06-15'
          }" -->
      </div>
    </div>
  </div>
</div>
