<div class="content">
  <app-header (meetingCreated)="meetingCreated($event)"></app-header>
  <div class="content-inside container" id="from">
    <div class="row">
      <div class="col-12">
        <h1 class="mb-4">Home</h1>
      </div>
      <div class="col-12">
        <full-calendar #calendar defaultView="dayGridMonth" [header]="{
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
        }" [plugins]="calendarPlugins" [(events)]="calendarEvents" (dateClick)="handleDateClick($event)"
          (eventClick)="openDetailMeeting($event)" [eventLimit]="2">
        </full-calendar>


        <!-- [showNonCurrentDates]="false" [validRange]=" {
            start: '2020-06-01',
            end: '2020-06-15'
          }" -->
      </div>
    </div>
  </div>
</div>
