<div class="bg"></div>
<div class="content">
  <app-header (meetingCreated)="meetingCreated($event)"></app-header>
  <div class="content-inside container" id="from">
    <div class="row">
      <div class="col-12">
        <h1 class="mb-4">Salas creadas</h1>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let item of meetings; index as i">
        <app-card-meeting [meeting]="item" (deleteMeeting)="deleteMeeting(i, item)"></app-card-meeting>
      </div>
    </div>
  </div>
</div>
